[include mainsail.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_1C002A001450565843333620-if00

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 8000
max_accel_to_decel: 4000 # S-Curve only - Normally 1/2 of max_accel
max_z_velocity: 3
max_z_accel: 50
SQUARE_CORNER_VELOCITY: 10

# This file contains common pin mappings for the BigTreeTech Octopus.
# To use this config, the firmware should be compiled for the
# STM32F446 with a "32KiB bootloader" and a "12MHz crystal" clock reference.

# See docs/Config_Reference.md for a description of parameters.

# Driver0
[stepper_x]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
microsteps: 16
rotation_distance: 20
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -2
position_min: -2
position_max: 350
homing_speed: 30
homing_retract_dist: 0

# Driver1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 20
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -0
position_min: 0
position_max: 325
homing_speed: 30
homing_retract_dist: 0

# Driver2
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 1
endstop_pin: probe:z_virtual_endstop
position_min: -1
position_max: 330

# Driver2
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 1
endstop_pin: probe:z_virtual_endstop

# Driver2
[stepper_z2]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
microsteps: 16
rotation_distance: 1
endstop_pin: probe:z_virtual_endstop

# Driver3
# The Octopus only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
#[stepper_]
#step_pin: PG4
#dir_pin: PC1
#enable_pin: PA0
#endstop_pin: PG11
#...

# Driver4
[extruder]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 16
# rotation_distance: 5.637
rotation_distance: 4.622
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
heater_pin: PA2 # HE0
sensor_pin:  PF4 # T0
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 300
pressure_advance: 0.025
pressure_advance_smooth_time: 0.03

#[filament_switch_sensor material_0]
#switch_pin: PG12

# Driver5
#[extruder1]
#step_pin: PC13
#dir_pin: PF0
#enable_pin: !PF1
#heater_pin: PA3 # HE1
#sensor_pin: PF5 # T1
#...

#[filament_switch_sensor material_1]
#switch_pin: PG13

# Driver6
#[extruder2]
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
#heater_pin: PB10 # HE2
#sensor_pin: PF6 # T2
#...

#[filament_switch_sensor material_2]
#switch_pin: PG14

# Driver7
#[extruder3]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#heater_pin: PB11 # HE3
#sensor_pin: PF7 # T3
#...

#[filament_switch_sensor material_3]
#switch_pin: PG15

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: ATC Semitec 104GT-2
control = pid
pid_kp = 45.287
pid_ki = 0.782
pid_kd = 655.523
min_temp: 0
max_temp: 130

# [heater_generic heater_chamber]
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PF5
# control: watermark
# # pid_Kp: 54.027
# # pid_Ki: 0.770
# # pid_Kd: 948.182
# min_temp: 0
# max_temp: 80
# # heater_pin: PA3
# heater_pin: PD13
# max_delta: 1.0

[fan]
pin: PA8

[heater_fan hotend_fan]
pin: PE5
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#[heater_fan fan2]
#pin: PD12

[controller_fan mainboard_fan]
##	Controller fan - CNC_FAN2
pin: PD12
kick_start_time: 0.5
idle_speed: 0.25
idle_timeout: 60
heater: extruder
stepper: stepper_x, stepper_y, stepper_z, extruder
#heater_temp: 50.0

[controller_fan xy_stepper_fan]
pin: PD14
kick_start_time: 0.5
heater: extruder
stepper: stepper_x, stepper_y, stepper_z, extruder

#[heater_fan fan4]
#pin: PD14

#[controller_fan fan5]
#pin: PD15

########################################
# TMC2209 configuration
########################################

# [tmc2209 stepper_x]
# uart_pin: PC4
# # diag_pin: PG6
# run_current: 0.800
# stealthchop_threshold: 999999

# [tmc5160 stepper_x]
# # uart_pin: PC4
# cs_pin: PC4
# diag0_pin: ^!PG6
# interpolate: false
# run_current: 1.0
# sense_resistor: 0.075
# # sense_resistor: 0.110
# # stealthchop_threshold: 999999
# # driver_SGTHRS: 75
# driver_SGT: 2
# spi_software_miso_pin: PA6
# spi_software_mosi_pin: PA7
# spi_software_sclk_pin: PA5

# [tmc5160 stepper_y]
# # uart_pin: PD11
# cs_pin: PD11
# diag0_pin: ^!PG9
# interpolate: false
# run_current: 1.0
# sense_resistor: 0.075
# # sense_resistor: 0.110
# # stealthchop_threshold: 999999
# # driver_SGTHRS: 101
# driver_SGT: 1
# spi_software_miso_pin: PA6
# spi_software_mosi_pin: PA7
# spi_software_sclk_pin: PA5



[tmc2209 stepper_x]
uart_pin: PE4
diag_pin: PG13
interpolate: false
run_current: 1.45
sense_resistor: 0.110
# stealthchop_threshold: 999999
driver_SGTHRS: 75

[tmc2209 stepper_y]
uart_pin: PD11
diag_pin: PG9
interpolate: false
run_current: 1.45
sense_resistor: 0.110
# stealthchop_threshold: 999999
driver_SGTHRS: 101

[tmc2209 stepper_z]
uart_pin: PC6
#diag_pin: PG10
run_current: 0.850
sense_resistor: 0.110
# stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PC7
#diag_pin: PG10
run_current: 0.850
sense_resistor: 0.110
# stealthchop_threshold: 999999

[tmc2209 stepper_z2]
uart_pin: PD3
#diag_pin: PG10
run_current: 0.850
sense_resistor: 0.110
# stealthchop_threshold: 999999

#[tmc2209 stepper_]
#uart_pin: PC7
##diag_pin: PG11
#run_current: 0.650
#stealthchop_threshold: 999999

[tmc2209 extruder]
interpolate: true
uart_pin: PF2
run_current: 0.7
hold_current: 0.100
sense_resistor: 0.11
# stealthchop_threshold: 0
driver_TBL: 0
driver_HEND:6
driver_HSTRT:7
driver_TOFF: 4

#[tmc2209 extruder1]
#uart_pin: PE4
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder2]
#uart_pin: PE1
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder3]
#uart_pin: PD3
#run_current: 0.800
#stealthchop_threshold: 999999

[z_tilt]
z_positions:
  -35, 45
  385, 45
  175, 375
points:
  5, 45
  300, 45
  155, 295

speed: 150
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5


[bltouch]
sensor_pin: ^PB7
control_pin: PB6
#z_offset: 0.90
x_offset: 21
y_offset: -10
samples: 3

[safe_z_home]
home_xy_position: 175,162
speed: 100
z_hop: 10
z_hop_speed: 5

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20


[input_shaper]
shaper_freq_x: 103.8
shaper_type_x: mzv
shaper_freq_y: 54.4
shaper_type_y: mzv

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 25, 25
mesh_max: 325, 300
probe_count: 3, 3
fade_start: 1
fade_end: 25
# fade_target: 0

# [display]
# lcd_type: emulated_st7920
# spi_software_miso_pin: EXP2_1
# spi_software_mosi_pin: EXP1_3
# spi_software_sclk_pin: EXP1_5
# en_pin: EXP1_4
# encoder_pins: ^EXP2_3, ^EXP2_5
# click_pin: ^!EXP1_2

# [include speed.cfg]

# [include quiet.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh pei]
#*# version = 1
#*# points =
#*# 	-0.246875, -0.328750, -0.306875, -0.277188, -0.254063
#*# 	0.050625, -0.080938, -0.048125, -0.057500, 0.025625
#*# 	0.079062, 0.006875, 0.031250, 0.056562, 0.114687
#*# 	0.006875, -0.082188, -0.065938, -0.051875, -0.046250
#*# 	-0.215000, -0.242813, -0.236250, -0.226875, -0.231875
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 25.0
#*# x_count = 5
#*# max_y = 285.0
#*# mesh_x_pps = 2
#*# max_x = 285.0
#*#
#*# [bed_mesh glass]
#*# version = 1
#*# points =
#*# 	  0.016146, 0.136146, -0.070833
#*# 	  -0.180208, 0.028437, -0.126979
#*# 	  -0.335729, -0.025104, -0.096146
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 25.0
#*# x_count = 3
#*# max_y = 300.0
#*# mesh_x_pps = 2
#*# max_x = 325.0
#*#
#*# [bltouch]
#*# z_offset = 1.150
#*#
#*# [bed_mesh pei2]
#*# version = 1
#*# points =
#*# 	-0.196250, -0.225313, -0.190938, -0.210000, -0.200625
#*# 	0.001562, -0.061875, -0.020938, -0.059375, -0.014063
#*# 	0.040000, 0.032500, 0.050312, 0.025625, 0.057812
#*# 	0.002500, -0.038750, -0.010000, -0.020000, -0.026563
#*# 	-0.161563, -0.183750, -0.144375, -0.170938, -0.214375
#*# tension = 0.2
#*# min_x = 35.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 35.0
#*# x_count = 5
#*# max_y = 255.0
#*# mesh_x_pps = 2
#*# max_x = 275.0
#*#
#*# [heater_chamber]
#*# control = pid
#*# pid_kp = 73.360
#*# pid_ki = 1.318
#*# pid_kd = 1020.621
